@media (max-width: 500px) {
    .menu{
          max-height:200px;
          overflow-y:auto;
       }
}

.menu{
    max-height:300px;
    overflow-y:auto;
    /* max-width: max-content; */
 }

 .dropdown-menu {
     width: 200px;
     /* max-width: max-content; */
 }