.navbar-brand {
    /* padding: 0 15px; */
    max-height: 60px;
    background-color: blanchedalmond;
    border-radius: 5px;
    /* line-height: 80px; */
  }

  .navbar {
    /* max-height: 60px; */
    margin: 20px 0px
  }

 .cart {
      background-color: white;
      padding: 5px;
      border-radius: 10px;
      height: 40px;
      width: 40px;
  }