.cart-item {
    width: 100%;
    display: flex;
    height: max-content;
    margin-bottom: 15px;
} 
img {
      width: 20%;
      height: 30px;
}
  
.item-details {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      justify-content: center;
      line-height: 25px;
    }
.name{
        font-size: smaller;
        font-weight: bold;
        /* white-space: nowrap; */
}
.price {
 font-family: cursive;
 font-size: 0.7rem;
 color: red;
}
 